<div class="wrapper">


    <!-- Main  header -->
    <app-main-header></app-main-header>

    <!-- Main Sidebar Container -->
    <app-admin-sidebar></app-admin-sidebar>


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>matiere </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Tableau de bord</a></li>
                            <li class="breadcrumb-item active">matiere </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                                    data-target="#new-record">
                                    Nouvelle matiere
                                </button>
                                <br>
                                <br>
                                <br>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>N</th>
                                            <th>Label</th>                                            
                                            <th>Groupe</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let matiere of matieres" id="{{matiere.id}}">
                                            <td> </td>
                                            <td>{{matiere.intitule}}</td>
                                            <td>{{matiere.groupe}}</td>
                                            <td>
                                                <a class="btn btn-primary"> <i class="fa fa-edit"></i> </a>
                                                &nbsp;&nbsp;
                                                <a class="btn btn-danger"> <i class="fa fa-trash"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>N</th>
                                            <th>Label</th>                                            
                                            <th>Groupe</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <app-footer></app-footer>

</div>

<div class="modal fade" id="new-record">
    <form [formGroup]="dataForm" (ngSubmit)="save()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nouvelle matiere</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Label *</label>
                        <input type="text" formControlName="intitule" id="" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label>Groupe matiere </label>
                    <select class="form-control " formControlName="groupe" >
                        <option  [ngValue]="1">Groupe 1</option>
                        <option  [ngValue]="2">Groupe 2</option>
                        <option  [ngValue]="3">Groupe 3</option>
                    </select>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="edit-record">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nouvelle matiere</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Label *</label>
                    <input type="text" id="" class="form-control">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>