<div class="wrapper">

    
    <!-- Main  header -->
    <app-main-header></app-main-header>

    <!-- Main Sidebar Container -->
    <app-sg-sidebar></app-sg-sidebar>
   

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Enregistrement sanction</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a routerLink="/sg/dashboard">Tableau de bord</a></li>
                  <li class="breadcrumb-item active">Sanction</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">Formulaire d'enregistrement</h3>
  
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <p>NB : Tous les champs suivis d'un  <span style="color:red;">(*)</span> sont obligatoires</p>
                <div class="row">
                 
                  <!-- /.col -->
                  <div class="col-md-6">
                    <h5><em><b>Information sur l'eleve </b></em></h5>
                    <div class="form-group">
                      <label>Classe <span style="color:red;">*</span> </label>
                      <select class="form-control select2" style="width: 100%;height: 100px;">
                        <option>Alaska</option>
                        <option>Delaware</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Eleve <span style="color:red;">*</span> </label>
                      <select class="form-control select2" style="width: 100%;height: 100px;">
                        <option>Alaska</option>
                        <option>Delaware</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <div class="col-md-6">
                    <h5><em><b>Information sur la sanction</b></em></h5>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Type de sanction <span style="color:red;">*</span> </label>
                      <select class="form-control select2" style="width: 100%;height: 100px;">
                        <option>Alaska</option>
                        <option>Delaware</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Date de debut sanction <span style="color:red;">*</span> </label>
                      <input type="date" class="form-control"  >
                    </div>
                    <div class="form-group">
                      <label for="">Date de fin sanction <span style="color:red;">*</span> </label>
                      <input type="date" class="form-control"  >
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Commentaire </label>
                      <textarea id="summernote" >
                        Votre <u>commentaire</u> <strong>ici</strong>
                      </textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="switch1">
                      <label class="custom-control-label" for="switch1">Notifier le parent </label>
                    </div>
                  
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
    
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
              </div>
            
            </div>
            <!-- /.card -->
    
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    <app-footer></app-footer>
   
  </div>
 