<style>
    a{
      text-decoration: none;
    }
  </style>
  
  
  <div class="wrapper">
    <!-- Main  header -->
    <app-main-header2></app-main-header2>
      
    <!--  Layout Primary  -->
      <div id="layoutDrawer">
          <!--  Sidebar Container -->
          <app-principal-vice-sidebar></app-principal-vice-sidebar> 
  
              <div id="layoutDrawer_content">
                  <main>
                    <div class="content-header">
                      <div class="container-fluid">
                          <div class="row mb-2">
                            
                              <div class="col-sm-6">
                                <h1><a class="text.primary"><i class="fas fa-home"></i> Tableau de bord</a></h1>
                              </div><!-- /.col -->
                              <div class="col-sm-6">
                                  <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item active"></li>
                                    <li class="breadcrumb-item"><a href="principalVice/dashboard">accueil</a></li>
                                  </ol>
                              </div><!-- /.col -->
                          </div><!-- /.row -->
                      </div><!-- /.container-fluid -->
                    </div>
                  
                    <!-- /.content-header -->
  
                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4">
                                    <a href="principalVice/academic" style="color:black;">
                                      <div class="info-box mb-3">
                                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-unlock"></i></span>
                          
                                        <div class="info-box-content">
                                          <span class="info-box-text">Année academique</span>
                                            <a href="principalVice/academic" class="small-box-footer">2022/2023 <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                        <!-- /.info-box-content -->
                                      </div>
                                    </a>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                  <div class="info-box mb-3">
                                    <span class="info-box-icon elevation-1" style="background-color:#01ff70;"><i class="far fa-newspaper fa-float"></i></span>
                      
                                    <div class="info-box-content">
                                      <span class="info-box-text">Gestion des bulletins</span>
                                      <a href="principalVice/bulletin" class="small-box-footer">Consulter <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                    <!-- /.info-box-content -->
                              </div>
                                  <!-- /.info-box -->
                              </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <a href="principalVice/apropos" style="color:black;">
                                      <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-home"></i></span>
                          
                                        <div class="info-box-content">
                                          <span class="info-box-text">A propos</span>
                                            <a href="principalVice/apropos" class="small-box-footer">Consulter <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                        <!-- /.info-box-content -->
                                      </div>
                                    </a>
                                    <!-- /.info-box -->
                                </div>
                                  <!-- /.col -->
                        
                                  <!-- fix for small devices only -->
                        
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="info-box mb-3">
                                      <span class="info-box-icon bg-success elevation-1"><i class="fas fa-calendar-alt"></i></span>
                        
                                      <div class="info-box-content">
                                        <span class="info-box-text">Calendrier academique</span>
                                        <a href="principalVice/calendar" class="small-box-footer">50 evenements programmés <i class="fas fa-arrow-circle-right"></i></a>
                                      </div>
                                      <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                  <!-- /.col -->
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="info-box mb-3">
                                      <span class="info-box-icon bg-warning elevation-1"><i class="far fa-folder-open"></i></span>
                        
                                      <div class="info-box-content">
                                        <span class="info-box-text">Dossier academique</span>
                                        <a href="principalVice/" class="small-box-footer">1035 dossiers <i class="fas fa-arrow-circle-right"></i></a>
                                      </div>
                                      <!-- /.info-box-content -->
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                      <div class="info-box">
                                        <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-plus-circle"></i></span>
                          
                                        <div class="info-box-content">
                                          <span class="info-box-text">Gestion des cours</span>
                                            <a href="principalVice/matiere" class="small-box-footer">Consulter <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                        <!-- /.info-box-content -->
                                      </div>
                                </div>
                               <div class="col-12 col-sm-6 col-md-4">
                                      <div class="info-box">
                                        <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-chart-line"></i></span>
                          
                                        <div class="info-box-content">
                                          <span class="info-box-text">Etat d'avancement des cours</span>
                                            <a href="principalVice/matiere" class="small-box-footer">Consulter <i class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                        <!-- /.info-box-content -->
                                      </div>
                                </div>
                               
                               
                                
                
                                 
                            </div>
                            
                        </div><!-- /.container-fluid -->
                    </section>
                    <!-- /.content -->
                  </main>
              </div>
      </div>
     <app-footer></app-footer> 
  </div>