<div class="wrapper">
    <!-- Main  header -->
    <app-main-header2></app-main-header2>
  
    <!--  Layout Primary  -->
    <div id="layoutDrawer">
      <!--  Sidebar Container -->
      <app-teacher-sidebar></app-teacher-sidebar>
  
      <!--
          =============================================
          Main section layout
          ==============================================
      -->
      <div id="layoutDrawer_content">
        <!-- Main page content-->
        <main>
          <!-- Page header-->
          <header class="bg-primary" >
            <div class="container-xl px-5"><h1 class="text-white py-3 mb-0 display-6">Effectuer un compte rendu dans le cahier de texte</h1></div>
          </header>

          <div class="row g-0">
            <div class="col-lg-10 col-md-10">
              <div class="card-body p-5">
  
                <!-- Login submission form-->
                <form class="mb-5" method="post">
                 
                  <div class="mb-4">
                    <div class="form-group">
                      <label >Salle de classe</label>
                      <select name="" class="form-control">
                        <option value="">Selectionner une salle de classe</option>
                        <option value="6eme">6eme</option>
                        <option value="5eme">5eme</option>
                        <option value="4eme">4eme</option>
                        <option value="3eme">3eme</option>
                        <option value="2nd">2nd</option>
                        <option value="1ere">1ere</option>
                        <option value="Tle">Tle</option>
              
                      </select>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="form-group">
                      <label >Matiere</label>
                      <select name="" class="form-control">
                        <option value="">Selectionner la matiere concerné</option>
                        <option value="mathematique">mathematique</option>
                        <option value="physique">physique</option>
                        <option value="chimie">chimie</option>
                        <option value="Francais">Francais</option>
                        <option value="Anglais">Anglais</option>
                        <option value="Science de la vie et de la terre">Science de la vie et de la terre</option>
                        <option value="Histoire et Geographie">Histoire et Geographie</option>
              
                      </select>
                    </div>
                  </div>
               
                <div class="mb-4">
                  <div class="form-group">
                    <label for="date">Date et Heure  </label>
                    <input type="datetime-local" class="form-control" id="date"  placeholder="Date of event">
                  </div>
                </div>
                <div class="mb-4">
                    <div class="form-group">
                      <label for="date">Bilan du cours</label>
                     <textarea name="textbook" class="form-control" id="summernote" cols="30" rows="10">Votre Bilan ici</textarea>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="form-group">
                      <label >Etat d'avancement du cours</label>
                      <select name="" class="form-control">
                        <option value="">Indiquer votre niveau d'avancement</option>
                        <option value="10">10%</option>
                        <option value="20 ">20%</option>
                        <option value="30">30%</option>
                        <option value="40">40%</option>
                        <option value="50">50%</option>
                        <option value="60">60%</option>
                        <option value="70">70%</option>
                        <option value="80">80%</option>
                        <option value="90">90%</option>
                        <option value="100">100%</option>
                      </select>
                    </div>
                  </div>


                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                  <a class="btn btn-primary mdc-ripple-upgraded" href="#">Enregistrer</a>
                </div>
  
                </form>
             
              </div>
  
            </div>

          </div>
    
        </main>
  
        <!-- Footer content
        <app-footer></app-footer>-->
      </div>
    </div>
  
  </div>
  

