  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <!-- <img src="../../../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
        <span class="brand-text font-weight-light">SIGES</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../../../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Dompet Issa</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Changer annee

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Gestion des comptes
                            <i class="fas fa-angle-left right"></i>
                            
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/admin/createaccount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Creer un compte</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/accountmanager" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste comptes </p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-header">  HISTORIQUE </li>
                <li class="nav-item">
                    <a routerLink="/admin/historicconnexion" class="nav-link ">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Historique connexion

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin/historicoperation" class="nav-link ">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Historique operations

                        </p>
                    </a>
                </li>


                
                <li class="nav-header">  INITIALISATION ET CONFIGURATION </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Configuation du systeme
                            <i class="fas fa-angle-left right"></i>
                            
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Definir annee academique</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Definir professeur principal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Definir sequence</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Matiere && enseignant</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Matiere && coef && salle</p>
                            </a>
                        </li>

                       
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Initialisation du systeme
                            <i class="fas fa-angle-left right"></i>
                            
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/admin/academicyear" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Annee academique</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/classroom" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Salle de classe </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/schoolfees" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Frais de scolarite</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/cycle" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cycle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/course" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Matiere</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/serie" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Serie</p>
                            </a>
                        </li>
                       
                        <li class="nav-item">
                            <a routerLink="/admin/permissiontype" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Type permission </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/sanctiontype" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Type  sanction</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/personnaltype" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Type  personnel</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin/absenttype" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Type  absence</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
              

              
               
                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>