
<div class="wrapper" id="sequence">


  <!-- Main Sidebar Container -->
 

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-5 center">
                    <address>
                        COLLEGE BILINGUE DE LA REPUBLIQUE<br>
                        Phone: (804) 123-5432<br>
                        Email: info@almasaeedstudio.com
                      </address>
                </div>
                <div class="col-2">
                  <h4>
                    <i class="fas fa-globe"></i> 
                    
                  </h4>
                </div>
                <div class="col-5 center">
                    <address>
                        COLLEGE BILINGUE DE LA REPUBLIQUE<br>
                        Phone: (804) 123-5432<br>
                        Email: info@almasaeedstudio.com
                      </address>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row">
                <div class="col-12 center">
                    <address>
                        <h2>BULLETIN DE NOTES</h2>
                            <i> PREMIER TRIMESTRE</i>
                    </address>
                </div>
              </div>
              <div class="row invoice-info">
                <div class="col-sm-6 invoice-col left">
                
                    <b>NOMS ET PRENOMS: Invoice #007612</b><br>
                    <br>
                    <b>NE LE </b> 4F3S8J<br>
                    <b>A</b> 2/22/2014<br>
                    <b>MATRICULE:</b> 968-34567
                    <b>SEXE:</b> M
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
                <div class="col-sm-6 invoice-col right">
                  <b>CLASSE: </b><br>
                  <br>
                  <b>Effectif: 120</b> 4F3S8J<br>
                  <b>Prof Principal</b> 2/22/2014<br>
                  <b>Année scolaire:</b> 968-34567
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>MATIERE</th>
                      <th>SEQUENCE</th>
                      <th>COEF</th>
                      <th>TOTAL</th>
                      <th>RANG</th>
                      <th>APPRECIATION</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>ANGLAIS</td>
                      <td>18</td>
                      <td>3</td>
                      <td>54</td>
                      <td>5eme</td>
                      <td>PASSABLE</td>
                    </tr>
                    <tr>
                        <td>ANGLAIS</td>
                        <td>18</td>
                        <td>3</td>
                        <td>54</td>
                        <td>5eme</td>
                        <td>PASSABLE</td>
                      </tr>
                    
                        <tr>
                            <th colspan="2">TOTAL GROUPE 1</th>
                            <th>16</th>
                            <th>180</th>
                            <th>MOYENNE</th>
                            <th>11.50</th>
                            
                          </tr>
                        
             
                    <tr>
                        <td>ANGLAIS</td>
                        <td>18</td>
                        <td>3</td>
                        <td>54</td>
                        <td>5eme</td>
                        <td>PASSABLE</td>
                    </tr>
                      <tr>
                        <td>ANGLAIS</td>
                        <td>18</td>
                        <td>3</td>
                        <td>54</td>
                        <td>5eme</td>
                        <td>PASSABLE</td>
                      </tr>
                      <tr>
                          <th colspan="2">TOTAL GROUPE 2</th>
                          <th>16</th>
                          <th>180</th>
                          <th>MOYENNE</th>
                          <th>11.50</th>
                          
                        </tr>
                        <tr>
                            <td>ANGLAIS</td>
                            <td>18</td>
                            <td>3</td>
                            <td>54</td>
                            <td>5eme</td>
                            <td>PASSABLE</td>
                        </tr>
                          <tr>
                            <td>ANGLAIS</td>
                            <td>18</td>
                            <td>3</td>
                            <td>54</td>
                            <td>5eme</td>
                            <td>PASSABLE</td>
                          </tr>
                          <tr>
                              <th colspan="2">TOTAL GROUPE 2</th>
                              <th>16</th>
                              <th>180</th>
                              <th>MOYENNE </th>
                              <th>11.50</th>
                              
                         </tr>
                         <tr>
                            <th colspan="2">TOTAL</th>
                            <th>16</th>
                            <th>180</th>
                            <th>MOYENNE ELEVE: 11.50</th>
                            <th>RANG: 11eme /10</th>
                            
                        </tr>
                        <tr>
                          <td  colspan="2">
                           <table class="table">
                             <tr>
                               <th colspan="2" >PROFIL DE LA CLASSE</th>
                               
                             </tr>
                               <tr>
                                 <td>Forte moyenne:</td>
                                 <td>$250.30</td>
                               </tr>
                               <tr>
                                 <td>faible moyenne</td>
                                 <td>$10.34</td>
                               </tr>
                               <tr>
                                 <td>effectif total:</td>
                                 <td>$5.80</td>
                               </tr>
                               <tr>
                                 <td>moyenne de la classe</td>
                                 <td>$265.24</td>
                               </tr>
                             </table>
                          </td>
                          <td  colspan="2">
                           <table class="table">
                             <tr>
                               <th colspan="2"  >DISCIPLINE</th>
                              
                             </tr>
                               <tr>
                                 <td >RETARD(en heures)</td>
                                 <td>$250.30</td>
                               </tr>
                               <tr>
                                 <td>ABSENCES Justifiées</td>
                                 <td>$10.34</td>
                               </tr>
                               <tr>
                                 <th>ABSENCES NON-Justifiées</th>
                                 <td>$5.80</td>
                               </tr>
                               <tr>
                                 <th>RETENUES (en heures)</th>
                                 <td>$265.24</td>
                               </tr>
                             </table>
                          </td>
                          <td colspan="2">
                           <table class="table">
                               <tr >
                                 <th colspan="2"  >RESULTATS DE L'ELEVE</th>
                                
                               </tr>
                               <tr>
                                 <td >total des points:</td>
                                 <td>$250.30</td>
                               </tr>
                               <tr>
                                 <td>Total des coéfficients</td>
                                 <td>$10.34</td>
                               </tr>
                               <tr>
                                 <th>MOYENNE DE L'ELEVE</th>
                                 <td>$5.80</td>
                               </tr>
                               <tr>
                                 <th>RANG DE L'ELEVE</th>
                                 <td>$265.24</td>
                               </tr>
                             </table>
                          </td>
                       </tr>
                        
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-12 center">
                  <strong>DECISIONS DES CONSEILS DE CLASSES ET DE DISCIPLINE</strong>

                </div>
                <div class="col-4 form ">
                  <input type="checkbox" name="" id="" class="form-group"><label for="">tableau d'honneur(TH)</label><br>
                  <input type="checkbox" name="" id=""><label for="">TH avec encouragements</label><br>
                  <input type="checkbox" name="" id=""><label for="">TH avec Félicitations</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" name="" id=""><label for="">Avertissement Travail</label><br> 
                  <input type="checkbox" name="" id=""><label for="">Blame travail</label><br>
                  <input type="checkbox" name="" id=""><label for="">Exclu pour travail</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" name="" id=""><label for="">Avertissment conduite</label><br>
                  <input type="checkbox" name="" id=""><label for="">Blame conduite</label><br>
                  <input type="checkbox" name="" id=""><label for="">Exclu pour conduite</label><br>
                </div>
                
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                      <tr class="table table-dark">
                        <td>VISA DU PARENT</td>
                        <td>APPRECIATION GENERALE</td>
                        <td>VISA DU CHEF D'ETABLISSEMENT</td>
                      </tr>
                      <tr>
                        <td rowspan="2"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2">
                          <address>
                            yaoundé,..... <br>
                            <b>Le proviseur</b>
                          </address>
                        </td>
                      </tr>
                  </table>
                </div>
              </div>
             
             
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
        <!-- /.<button class="btn btn-primary" value="Imprimer" onClick="window.print()" >Export To PDF</button>
  </div>-->
   
  

